@page
@model ExternalLoginModel
@using ReadBay.Utility
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h4>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

@* Added Additional properties *@
<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <hr />
                        <div class="py-2">
                            <input asp-for="Input.Name" placeholder="Name" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Email" type="email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> +44</span>
                            </div>
                            <input asp-for="Input.PhoneNumber" type="text" placeholder="Phone Number" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.StreetAddress" placeholder="Street Address" class="form-control" />
                            <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.City" placeholder="City" class="form-control" />
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <input asp-for="Input.County" placeholder="County" class="form-control" />
                                <span asp-validation-for="Input.County" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <input asp-for="Input.PostCode" placeholder="Post Code" class="form-control" />
                                <span asp-validation-for="Input.PostCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="py-2">
                            <button type="submit" class="btn btn-success form-control">Register</button>
                        </div>
                    </form>

                    @if (!User.IsInRole(SD.Role_Admin) && !User.IsInRole(SD.Role_Employee))
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <p>
                                By clicking <em>Register</em> you agree to our <a href="" target="_blank"> terms of service </a>
                            </p>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}